{
    "trailingComma": "es5",
    "tabWidth": 2,
    "semi": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "printWidth": 60,
    "overrides": [
        {
            "files": [
                "*.json",
                "*.jsonc",
                ".prettierrc",
                "*.md"
            ],
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
